# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
ENV/

# Secrets
.streamlit/secrets.toml
secrets.toml
.env

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Zip & output files
*.zip
*.log
